.app-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.user-input,
.user-list {
  width: 40%;
  min-width: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
