.user-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.user-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.user-row:hover {
  background-color: #f1f1f1;
}

.user-row > div:first-child {
  flex: 1;
  margin-right: 1rem;
}

.user-row > div:last-child {
  display: flex;
  gap: 5px;
}

.user-row > div > h3 {
  margin: 0;
  font-size: 1.2rem;
}

.user-row > div > p {
  margin: 0;
  color: #888;
}
